<p id="notice"><%= notice %></p>

<h1>Bares</h1>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th colspan="3">Localização</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @bars.each do |bar| %>
      <tr>
        <td><%= link_to bar.titulo , bar%></td>
        <td><%= bar.localizacao.x %></td>
        <td><%= bar.localizacao.y %></td>
        <td><%= link_to 'Editar', edit_bar_path(bar) %></td>
        <td><%= link_to 'Deletar', bar, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Marcar Bar', new_bar_path %>
