<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @bar.titulo %>
</p>

<p>
  <strong>Localizacao:</strong>
  <%= @bar.localizacao %>
</p>

<%= link_to 'Edit', edit_bar_path(@bar) %> |
<%= link_to 'Back', bars_path %>